<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/Pop.jpg" class="img-thumbnail rounded-circle" width="200px" />
            <h1 class="display-4">Taufiq Pop</h1>
            <p class="lead">Gamer | Content Creator</p>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>
